<% products.each_slice(3) do |slice| %>
  <div class="row">
    <% slice.each do |product| %>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= link_to product_path(product) do %>
            <%= image_tag product.photo.url %>
          <% end %>
          <div class="caption">
            <h3><%= link_to product.name %></h3>
            <p><%= simple_format(truncate(Faker::Hacker.say_something_smart, length: 90)) %></p>
            <p class="lead"><%= number_to_currency Faker::Number.decimal(2, 2) %></p>
            <p>
              <%= link_to '#', class: 'btn btn-primary' do %>
                <span class="fa fa-shopping-cart"></span> Dodaj do koszyka
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>