<!DOCTYPE html>
<html>
  <head>
    <title>RailsShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a href="<%= root_path %>" class="navbar-brand">Robo</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="<%= root_path %>">start</a></li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <h3>Kategorie</h3>
          <ul class="nav nav-sidebar">
            <% Category.all.each do |category| %>
              <li>
                <%= link_to category.name, category_path(category) %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-10">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
